body {
  font-family: Arial, sans-serif;
  background: #f2f4f7;
  margin: 0;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

/* GRID UTAMA */
.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

/* PANEL */
.box {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.08);
}

/* DIAGRAM */
.diagram-box {
  text-align: center;
}

.diagram-box {
  border-left: 5px solid #1976d2;
}

.diagram {
  width: 100%;
  max-width: 450px;
  display: block;
  margin: 25px auto;
}

/* INPUT */
input {
  width: 100%;
  padding: 7px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* BUTTON */
button {
  width: 100%;
  padding: 10px;
  font-weight: bold;
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #125aa0;
}

/* RESULT */
.result-box p {
  margin: 4px 0;
}

.result-box {
  border-right: 5px solid #1976d2;
}

/* RESPONSIVE MOBILE */
@media (max-width: 900px) {
  .main-grid {
    grid-template-columns: 1fr;
  }
}

input, button {
  box-sizing: border-box;
}

